body{
    
}

img {
    width: 100%;
}

.principal {
    background-color: #CCCCCC;
}

h1 {
    text-align: center;
    border: 5px solid #000000;
    padding: 10px;
    height: 100px;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

.beneficios {
    background-color: #FFFFFF;
}

.itens {
    font-style: italic;
}

em strong {
    color: red;
}
